.episode-item {
  display: block;
  padding: 8px 0;
  &:nth-child(2n){
    background: #f9f9f9;
  }
}

.episode-item__season, .episode-item__number {
  border-radius: 2px;
  display: inline-block;
  padding: 0 5px;
  font-size: 0.75rem;
  margin: 0 5px;
  border: 1px solid $link-color;
}

@media only screen and (min-width: $medium) {
  .episode-item__season, .episode-item__number {
    &::before {
      content: attr(data-label);
    }
  }
}