.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 20px;
}

.article {
  display: flex;
}

.article__image {
  float: left;
  img {
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin: 0 20px 20px 0;
  }
}

@media only screen and (max-width: $small) {
  .container {
    padding: 0 10px;
  }
}

@media only screen and (max-width: $medium) {
  .article__image {
    float: none;
  }
}